@import './../../variables.scss';
.heroWrapper {
  margin-bottom: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .heroText {
    padding-right: 2rem;
    width: 50%;

    h1 {
      font-size: 5.25rem;
      font-weight: 700;
      line-height: 5.375rem;
      font-family: 'Poppins';
    }
    p {
      font-size: 1.12rem;
      font-family: 'Poppins';
      line-height: 1.75rem;
    }

    .searchWrapper {
      margin-top: 3rem;
      display: flex;
      align-items: center;
      border-radius: 3.76rem;
      width: 90%;
      background-color: #fff;

      input {
        padding: 2rem;
        outline: none;
        border: none;
        font-size: 1rem;
      }

      .searchIcon {
        cursor: pointer;
      }

      .searchInputPlace {
        border-radius: 3.76rem 0 0 3.76rem;
      }
      .searchInputDate {
        border-radius: 0 3.76rem 3.76rem 0;
      }
    }
  }

  .img {
    width: 50%;
    height: 45rem;
    background-color: orange;
  }
}
